%footer#gbl_footer
  .container
    #fInner
      #fService
        %ul.clearfix
          %li
            %a fashon
          %li
            %a fashonTown
          %li
            %a fashonShoes
          %li
            %a fashonUsed
      #fContents
        %ul.clerafix
          %li 
            %a コーディネート一覧
          %li 
            %a コーディネート一覧
          %li 
            %a コーディネート一覧
          %li 
            %a コーディネート一覧
          %li 
            %a コーディネート一覧
          %li 
            %a コーディネート一覧
        %ul.clerafix
          %li 
            %a コーディネート一覧
          %li 
            %a コーディネート一覧
          %li 
            %a コーディネート一覧
          %li 
            %a コーディネート一覧
          %li 
            %a コーディネート一覧
          %li 
            %a コーディネート一覧
      #fHelp
        %ul.clerafix
          %li 
            %a ヘルプ
          %li 
            %a ヘルプ
          %li 
            %a ヘルプ
          %li 
            %a ヘルプ
          %li 
            %a ヘルプ
      #fMobile
        %ul.clearfix
          %li
            %a アプリ
          %li
            %a アプリ
          %li.sns.icon_twitter 
            %a twitter
          %li.sns.icon_twitter 
            %a twitter
          %li.sns.icon_twitter 
            %a twitter
          %li.sns.icon_twitter 
            %a twitter
    #fCorporate
      %ul.clearfix
        %li
          %a コーポレイトサイト
        %li
          %a コーポレイトサイト
        %li
          %a コーポレイトサイト
        %li
          %a コーポレイトサイト
        %li
          %a コーポレイトサイト
        %li
          %a コーポレイトサイト
      #language_switch
        %p 日本語
    #fCopyright.icon_font
      #copy
        %p COPYRIGHT ALL RIGHTS RESERVED BY NAOKINAKAJIMA
        %p サイト内の文章、画像などの著作権はxxxに属します。複製、無断転写を禁止します。
      
    