#container 
  %header#gbl_header
    #gbl_header_bar
      .container
        #hdr_sarch
          = link_to ""
          -#検索フォームを実装する
          %p.input
            %span.icon_font

        %h1.logo
          FASHON
        .no_login
          %p.login
            %i.far.fa-user
              = link_to ""
              ログイン
            -#ログインボタンを作る
          %p.regist
            %i.over 
              新規会員登録


    %article#gbl_main
      #selsect_sex_type
        %nav
          %ul
            %li.allcurrent
              ALL
            %li.men
              MEN
            %li.women
              WOMEN
            %li.kids
              KIDS
      #gbl_body.clearfix
        %nav#switch_menu
          %ul.clearfix
            %li.current
              おすすめ
            %li
              タイムライン
        #content_container.clearfix
          #content
            -#オールブラックセクション
            %section.pickupTagList.clearfix
              %h2.title＃オールブラック
              %ul.img_after_load.clearfix
                %li
                  .image_container
                    %p
                  .profile.clearfix
                    .contant.clearfix
                      .sub
                        %p
                      .main
                        %p.name.clearfix.type_on
                          %span.namefirst
                          %span.icon_font
                        %p.txt
                          170cm
                    .btn_block
                      .btn_flow
                        %p.btn
                %li
                  .image_container
                    %p
                  .profile.clearfix
                    .contant.clearfix
                      .sub
                        %p
                      .main
                        %p.name.clearfix.type_on
                          %span.namefirst
                          %span.icon_font
                        %p.txt
                          170cm
                    .btn_block
                      .btn_flow
                        %p.btn
                %li
                  .image_container
                    %p
                  .profile.clearfix
                    .contant.clearfix
                      .sub
                        %p
                      .main
                        %p.name.clearfix.type_on
                          %span.namefirst
                          %span.icon_font
                        %p.txt
                          170cm
                    .btn_block
                      .btn_flow
                        %p.btn

            -#フリースセクション         
            %section.pickupTagList.clearfix
              %h2.title＃フリース
              %ul.img_after_load.clearfix
                %li
                  .image_container
                    %p
                  .profile.clearfix
                    .contant.clearfix
                      .sub
                        %p
                      .main
                        %p.name.clearfix.type_on
                          %span.namefirst
                          %span.icon_font
                        %p.txt
                          170cm
                    .btn_block
                      .btn_flow
                        %p.btn
                %li
                  .image_container
                    %p
                  .profile.clearfix
                    .contant.clearfix
                      .sub
                        %p
                      .main
                        %p.name.clearfix.type_on
                          %span.namefirst
                          %span.icon_font
                        %p.txt
                          170cm
                    .btn_block
                      .btn_flow
                        %p.btn
                %li
                  .image_container
                    %p
                  .profile.clearfix
                    .contant.clearfix
                      .sub
                        %p
                      .main
                        %p.name.clearfix.type_on
                          %span.namefirst
                          %span.icon_font
                        %p.txt
                          170cm
                    .btn_block
                      .btn_flow
                        %p.btn
            
            -#ランキングセクション
            %section#ranking.ranking.cleafix
              .title_container.clearfix
                %h2.title
                  ランキング
                %p.update
                  UPDATE 20:00
              %ol.clearfix
                %li 
                  %p.rank
                    1
                  .image_container
                    %p
                  .profile.clearfix
                    .content.clearfix
                      .sub
                        %p
                      .main
                        .name.clearfix.type_on
                          %span.namefirst
                          %spn.icon_font.user_type_icon
                        .txt
                    .btn_block
                      .btn_follow
                        %p.btn
                %li 
                  %p.rank
                    ２
                  .image_container
                    %p
                  .profile.clearfix
                    .content.clearfix
                      .sub
                        %p
                      .main
                        .name.clearfix.type_on
                          %span.namefirst
                          %spn.icon_font.user_type_icon
                        .txt
                    .btn_block
                      .btn_follow
                        %p.btn
                %li 
                  %p.rank
                    ３
                  .image_container
                    %p
                  .profile.clearfix
                    .content.clearfix
                      .sub
                        %p
                      .main
                        .name.clearfix.type_on
                          %span.namefirst
                          %spn.icon_font.user_type_icon
                        .txt
                    .btn_block
                      .btn_follow
                        %p.btn            
              %p.btn_more
            %section#recommend.clearfix
              %h2.title
                おすすめコーディネート
              %ul.img_after_load.clearfix
                %li.large
                  .image_container
                    %p
                  .profile.clearfix
                    .content.clearfix
                      .sub
                        %p
                      .main
                        %p.name.clerafix.type_on
                          %span.namefirst
                          %span.icon_font
                        %p.txt
                    .btn_block
                      .btn_follow
                        %p.btn
                %li.large
                  .image_container
                    %p
                  .profile.clearfix
                    .content.clearfix
                      .sub
                        %p
                      .main
                        %p.name.clerafix.type_on
                          %span.namefirst
                          %span.icon_font
                        %p.txt
                    .btn_block
                      .btn_follow
                        %p.btn
                %li
                  .image_container
                    %p
                  .profile.clearfix
                    .content.clearfix
                      .sub
                        %p
                      .main
                        %p.name.clerafix.type_on
                          %span.namefirst
                          %span.icon_font
                        %p.txt
                    .btn_block
                      .btn_follow
                        %p.btn
                %li
                  .image_container
                    %p
                  .profile.clearfix
                    .content.clearfix
                      .sub
                        %p
                      .main
                        %p.name.clerafix.type_on
                          %span.namefirst
                          %span.icon_font
                        %p.txt
                    .btn_block
                      .btn_follow
                        %p.btn
                %li
                  .image_container
                    %p
                  .profile.clearfix
                    .content.clearfix
                      .sub
                        %p
                      .main
                        %p.name.clerafix.type_on
                          %span.namefirst
                          %span.icon_font
                        %p.txt
                    .btn_block
                      .btn_follow
                        %p.btn
                %li
                  .image_container
                    %p
                  .profile.clearfix
                    .content.clearfix
                      .sub
                        %p
                      .main
                        %p.name.clerafix.type_on
                          %span.namefirst
                          %span.icon_font
                        %p.txt
                    .btn_block
                      .btn_follow
                        %p.btn
                %li
                  .image_container
                    %p
                  .profile.clearfix
                    .content.clearfix
                      .sub
                        %p
                      .main
                        %p.name.clerafix.type_on
                          %span.namefirst
                          %span.icon_font
                        %p.txt
                    .btn_block
                      .btn_follow
                        %p.btn
                %li
                  .image_container
                    %p
                  .profile.clearfix
                    .content.clearfix
                      .sub
                        %p
                      .main
                        %p.name.clerafix.type_on
                          %span.namefirst
                          %span.icon_font
                        %p.txt
                    .btn_block
                      .btn_follow
                        %p.btn
            #sidebar
            
    %footer#grobal_footer
      .container
        #fInner.clearfix
          #fService.cection
            %ul.clearfix
              %li fashon
          #fContents.section
            %ul.clerafix
              %li コーディネート一覧
          #fHelp.section
            %ul.clerafix
              %li ヘルプ
          #fMobile.section
            %ul.clearfix
              %li アプリ
              %li.sns.icon_twitter twitter
        #fCorporate.clerafix
          %ul.clearfix
            %li
          #language_switch
        #fCopyright.icon_font
          #copy.claerfix
            %p
            %p
        
      