#container 
  %header#gbl_header
    #gbl_header_bar
      .container
        #hdr_sarch
          コーディネートを探す
          = link_to ""
          -#検索フォームを実装する
          %p.input
            %span.icon_font

        %h1.logo
          FASHON
        .no_login
          %p.login
            %i.far.fa-user
              = link_to ""
            %i.login ログイン
            -#ログインボタンを作る
          %p.regist
            %i.over 
              新規会員登録


  %article#gbl_main
    #select_sex_type
      %nav
        %ul
          %li.allcurrent
            ALL
          %li.men
            MEN
          %li.women
            WOMEN
          %li.kids
            KIDS
    #gbl_body
      %nav#switch_menu
        %ul
          %li.current
            %a おすすめ
          %li
            %a タイムライン
      #content_container
        #sidebar
          %section#search
            %h2.title
              探す
              %ul
                %li.cordinate.icon_font
                  %a コーディネートを探す
                %li.user.icon_font
                  %a ユーザーを探す
                %li.item.icon_font
                  %a アイテムを探す
                %li.shop.icon_font
                  %a ショップを探す
                %li.brand.icon_font
                  %a ブランドを探す
          %section#user
            %h2.title
              ユーザー
            %ol
              %li
                .sub
                  .img
                    %a.over
                .main
                  %p.name
                    %span.namefirst
                      name
                  %p.txt
                    777777
              %li.clearfix
                .sub
                  .img
                    %a.over
                .main
                  %p.name
                    %span.namefirst
                      name
                  %p.txt
                    777777
              %li.clearfix
                .sub
                  .img
                    %a.over
                .main
                  %p.name
                    %span.namefirst
                      name
                  %p.txt
                    777777
              %li.clearfix
                .sub
                  .img
                    %a.over
                .main
                  %p.name
                    %span.namefirst
                      name
                  %p.txt
                    777777
            %p.btn_more
              %a.over
                もっと見る
          %section#brand
            %h2.title
              ブランド
              %ol
                %li
                  %p.txt
                    %a UNIQULO
                %li
                  %p.txt
                    %a UNIQULO
                %li
                  %p.txt
                    %a UNIQULO
                %li
                  %p.txt
                    %a UNIQULO
              %p.btn_more
                %a.over
                  もっと見る
          %section#trend_keyword
            %p.title
              急上昇キーワード
            .img_after_load.data#keywords
              %ul.link
                %li
                  %a 白ニット
                %li
                  %a 白ニット
                %li
                  %a 白ニット
                %li
                  %a 白ニット
                %li
                  %a 白ニット
          %section#category
            %h2.title
              人気のカテゴリー
            %ul
              %li
                %a トップス
              %li
                %a トップス
              %li
                %a トップス
              %li
                %a トップス
            %p.btn_more
              %a.over
                もっと見る
          
        #content
          -#オールブラックセクション
          %section.pickupTagList
            %h2.title＃オールブラック
            %ul.img_after_load
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        180cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
          -#フリースセクション         
          %section.pickupTagList
            %h2.title＃フリース
            %ul.img_after_load
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
          
          -#ランキングセクション
          %section#ranking.ranking
            .title_container
              %h2.title
                ランキング
              %p.update
                UPDATE 20:00
            %ol
              %li 
                %p.rank
                  1
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name
                        %span.namefirst
                          name
                        %span.icon_font
                          
                      %p.txt
                        180cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li 
                %p.rank
                  ２
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                          
                      %p.txt
                        180cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li 
                %p.rank
                  ３
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                          
                      %p.txt
                        180cm
                  .btn_block
                    .btn_follow
                      %p.btn            
            %p.btn_more
          %section#recommend
            %h2.title
              おすすめコーディネート
            %ul.img_after_load
              %li.large
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li.large
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.clerafix.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
              %li
                .image_container
                  %p
                .profile
                  .content
                    .sub
                      %p
                    .main
                      %p.name.type_on
                        %span.namefirst
                          name
                        %span.icon_font
                      %p.txt
                        170cm
                  .btn_block
                    .btn_follow
                      %p.btn
        
  %footer#gbl_footer
    .container
      #fInner
        #fService
          %ul.clearfix
            %li
              %a fashon
            %li
              %a fashonTown
            %li
              %a fashonShoes
            %li
              %a fashonUsed
        #fContents
          %ul.clerafix
            %li 
              %a コーディネート一覧
            %li 
              %a コーディネート一覧
            %li 
              %a コーディネート一覧
            %li 
              %a コーディネート一覧
            %li 
              %a コーディネート一覧
            %li 
              %a コーディネート一覧
          %ul.clerafix
            %li 
              %a コーディネート一覧
            %li 
              %a コーディネート一覧
            %li 
              %a コーディネート一覧
            %li 
              %a コーディネート一覧
            %li 
              %a コーディネート一覧
            %li 
              %a コーディネート一覧
        #fHelp
          %ul.clerafix
            %li 
              %a ヘルプ
            %li 
              %a ヘルプ
            %li 
              %a ヘルプ
            %li 
              %a ヘルプ
            %li 
              %a ヘルプ
        #fMobile
          %ul.clearfix
            %li
              %a アプリ
            %li
              %a アプリ
            %li.sns.icon_twitter 
              %a twitter
            %li.sns.icon_twitter 
              %a twitter
            %li.sns.icon_twitter 
              %a twitter
            %li.sns.icon_twitter 
              %a twitter
      #fCorporate
        %ul.clearfix
          %li
            %a コーポレイトサイト
          %li
            %a コーポレイトサイト
          %li
            %a コーポレイトサイト
          %li
            %a コーポレイトサイト
          %li
            %a コーポレイトサイト
          %li
            %a コーポレイトサイト
        #language_switch
          %p 日本語
      #fCopyright.icon_font
        #copy
          %p COPYRIGHT ALL RIGHTS RESERVED BY NAOKINAKAJIMA
          %p サイト内の文章、画像などの著作権はxxxに属します。複製、無断転写を禁止します。
        
      