.productShow
  .productShow__title
    .productShow__title__box
      .productShow__title__box__bread
        %ol
          %li fashon
          %li naoki
          %li 12/12のコーディネート
    .productShow__title__userHeader
      .productShow__title__userHeader__container
        .productShow__title__userHeader__container__left
          .productShow__title__userHeader__container__left__avatar
          .productShow__title__userHeader__container__left__text
            .productShow__title__userHeader__container__left__text__name
              naoki
            .productShow__title__userHeader__container__left__text__info
              %ul
                %li 174cm
                %li MEN
                %li 22歳
                %li ロングヘアー
        .productShow__title__userHeader__container__right
          .btn_follow
            %p 
              %a フォローする
  .productShow__body
    .productShow__body__left
      .productShow__body__left__cordinateImg
      .productShow__body__left__action
        .productShow__body__left__action__function
          .productShow__body__left__action__function__left
            .productShow__body__left__action__function__left__folderBtn
              .productShow__body__left__action__function__left__folderBtn__btn
                お気に入り
          .productShow__body__left__action__function__right
            .productShow__body__left__action__function__right__likeBtn
              229
            .productShow__body__left__action__function__right__commentBtn
              コメント
        .productShow__body__left__action__comment
          .productShow__body__left__action__comment__container
            %h3.title naokiさんへのコメント
            %p.no_comment NO COMMENT
        = form_with model: @product, local:true do |f|
          .productShow__body__left__action__comment__postBox
            .productShow__body__left__action__comment__postBox__left
              %p.icon
              .productShow__body__left__action__comment__postBox__left__text
                = f.text_area :text
            .productShow__body__left__action__comment__postBox__right
              .productShow__body__left__action__comment__postBox__right__btn
                = f.submit class: "produceShowCommentBtn"
            
    .productShow__body__right
      
