.productShow
  .productShow__title
    .productShow__title__box
      .productShow__title__box__bread
        %ol
          %li fashon
          %li naoki
          %li 12/12のコーディネート
    .productShow__title__userHeader
      .productShow__title__userHeader__container
        .productShow__title__userHeader__container__left
          .productShow__title__userHeader__container__left__avatar
          .productShow__title__userHeader__container__left__text
            .productShow__title__userHeader__container__left__text__name
              naoki
            .productShow__title__userHeader__container__left__text__info
              %ul
                %li 174cm
                %li MEN
                %li 22歳
                %li ロングヘアー
        .productShow__utitle__serHeader__container__right
          .btn_follow
            %p フォローする
  .productshow__body
      
