#container {
  position: relative;
  width: 100%;
  background: #f6f7f8;

  header#gbl_header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
    #gbl_header_bar {
      position: relative;
      z-index: 2;
      height: 54px;
      background: #fff;
      box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);

      .container {
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 990px;
        height: 54px;
        box-sizing: border-box;
        
        #hdr_sarch {
          position: absolute;
          left: -30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #ddd;
          background: #f5f5f5;
          margin: 7px 15px 7px 36px;
          font-size: 13px;
          height: 36px;
          width: 264px;
        
          p {
            span.icon_font {

            }
          }
        }

        h1.logo {
          position: absolute;
          left: 50%;
          top: 0;
          width: 150px;
          height: 54px;
          margin: 0 0 0 -75px;
        }

        .no_login { 
          position: absolute;
          right: 0;
          top: 6px;
          width: 300px;
          text-align: right;

          p.login {
            display: flex;
            display: inline-block;
            font-size: 14px;
            text-align: right;
            border-right: #ddd solid 1px;
            padding-right: 15px;
            i.far.fa-user {
              line-height: 26px;
              text-align: center;
              display: inline-block;
              color: #fff;
              height: 26px;
              width: 26px;
              background: #aaa;
              border-radius: 3px;
              font-size: 15px;
              margin-right: 10px;
              
            }
            i.login {
              display: inline-block;
              
            }
          }

          p.regist {
            display: inline-block;
            font-size: 14px;
            margin: 0 0 0 10px;
            
            i.over {
              display: block;
              color: #333;
            }
          }
        }
      }
    }
  }
}

/*---------------/header-----------------*/