.productShow {
    height: 100vh;
    width: 100%;
    background: #f6f7f8;
    overflow: scroll;
    #gbl_header_bar {
      position: relative;
      z-index: 2;
      height: 54px;
      background: #fff;
      box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
      .container {
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 990px;
        height: 54px;
        box-sizing: border-box;
        
        #hdr_sarch {
          border-radius: 3px;
          position: absolute;
          left: -38px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #ddd;
          background: #f5f5f5;
          margin: 9px 15px 7px 36px;
          font-size: 13px;
          color: #666;
          height: 34px;
          width: 263px;
          p {
            span.icon_font {

            }
          }
        }

        h1.logo {
          position: absolute;
          left: 50%;
          top: 0;
          width: 150px;
          height: 54px;
          margin: 0 0 0 -75px;
          font-size: 30px;
          font-weight: bold;
          text-align: center;
          line-height: 54px;
          a {
            text-decoration: none;
            color: black;
          }
        }

        .no_login { 
          position: absolute;
          right: 0;
          top: 14px;
          text-align: right;
          width: 190px;
          height: 40px;
          display: flex;
          p.login {
            display: block;
            font-size: 12px;
            text-align: right;
            border-right: #ddd solid 1px;
            padding-right: 15px;
            width: 100px;
            height: 30px;
            i.far.fa-user {
              line-height: 26px;
              text-align: center;
              display: inline-block;
              color: #fff;
              height: 26px;
              width: 26px;
              background: #aaa;
              border-radius: 3px;
              font-size: 13px;
              margin-right: 6px;
              
            }
            i.login {
              .logIn {
                text-decoration: none;
                color: black;
              }
            }
          }
    
          p.regist {
            display: block;
            width: 80px;
            font-size: 13px;
            margin: 3px 0 0 10px;
            .newUser {
              text-decoration: none;
              color: black;
            }
          }
          ul.dropmenu {
            position: absolute;
            top: 40px;
            right: 0;
            width: 173px;
            background: #fff;
            text-align: start;
            box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
            display: none;
            li {
              margin: 5px 0 0 11px;
              a {
                text-decoration: none;
                color: #555;
                font-size: 13px;
              }
            }
            li.logout {
              a {
                display: block;
                width: 150px;
                height: 35px;
                font-size: 15px;
                font-weight: bold;
                color: #aaa;
                border: 1px #ddd solid;
                text-align: center;
                line-height: 36px;
                margin-bottom: 10px;
                background: #f5f5f5;
                border-radius: 3px;
                margin-left: -1px;
              }
            }
          }
        }
        .no_login:hover > ul.dropmenu {
          display: block;
        }
      }
    }
    
  &__title {
    padding: 18px 0 30px 0;
    background: #fff;
    height: 133px;
    border-bottom: 1px #ddd solid;
    &__box {
      width: 990px;
      margin: 0 auto;
      &__bread {
        width: 790px;
        ol {
          li {
            display: inline-block;
            font-size: 13px;
          }
          li:before {
            content: ">";
            color: #aaa;
            padding: 0 8px 0 6px;
            font-size: 13px;
          }
          li:first-child:before {
            content:  none;
          }
        }
      }
    }
    &__userHeader {
      padding-top: 24px;
      width: 100%;
      line-height: 20px;
      &__container {
        width: 990px;
        margin: 0 auto;
        display: flex;
        
        &__left {
          width: 850px;
          display: table;
          display: flex;
          &__avatar {
            width: 48px;
            height: 48px;
            background: #111;
            border-radius: 50%;
          }
          &__text {
            padding-left: 10px;
            &__name {
              font-size: 20px;
              padding-top: 1px;
              width: 784px;
            }
            &__info {
              ul {
                padding-top: 4px;
                li {
                  font-size: 12px;
                  margin-left: 8px;
                  display: inline-block;
                }
                li:before {
                  content: "";
                  margin-right: 8px;
                  height: 11px;
                  width: 1px;
                  background: #ddd;
                  display: inline-block;
                }
                li:first-child {
                  margin-left: 0px;
                }
                li:first-child:before {
                  content: none;
                }
              }
            }
          }
        }
        &__right {
          width: 134px;
          padding-top: 8px;
          .btn_follow {
            p {
              a {
                display: block;
                padding: 8px 0;
                text-align: center;
                color: #fff;
                font-weight: bold;
                border: 1px #1e78ad solid;
                border-radius: 3px;
                background: linear-gradient(to bottom, #2490d0 0%, #1f7eb6 100%);
                padding-bottom: 10px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
  &__body {
    width: 990px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    &__left {
      width: 558px;
      ul {
        display: none;
        li {
          a {
            display:inline-block;
            height: 40px;
            width: 80px;
            text-decoration: none;
            color: black;
            text-align: center;
            line-height: 40px;
            text-decoration: none;
            background: #fff;
            box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
            border-radius: 3px;
            border: 1px solid #ddd;
            font-size: 12px;
            &:hover {
              background-color: #999999;
              color: #fff;
            }
          }
        }
      }
      &__cordinateImg {
        height: 714px;
        width: 556px;
      }
      &__action {
        padding-top: 24px;
        width: 556px;
        height: 377px;
        border: 1px #ddd solid;
        background: #fff;
        &__function {
          display: flex;
          justify-content: space-between;
          padding: 0 23px 15px 23px;
          border-bottom: 1px #eee solid;
          &__left {
            width: 208px;
            &__folderBtn {
              height: 42px;
              
              color: #888;
              &__btn {
                border: 1px #ddd solid;
                text-align: center;
                line-height: 42px;
                font-size: 13px;
                font-weight: bold;
                border-radius: 3px 0 0 3px;
                background: linear-gradient(to bottom, #fff 0%, #f6f6f6 100%);
              }
            }
          }
          &__right {
            display: flex;
            justify-content: space-between;
            &__likeBtn {
              border: 1px #ddd solid;
              border-radius: 2px;
              font-size: 15px;
              font-weight: bold;
              color: #888;
              min-width: 64px;
              background: linear-gradient(to bottom, #fff 0%, #f6f6f6 100%);
              text-align: center;
              line-height: 42px;
              margin-right: 8px;
            }
            &__commentBtn {
              border: 1px #ddd solid;
              border-radius: 2px;
              color: #888;
              font-size: 15px;
              font-weight: bold;
              min-width: 64px;
              background: linear-gradient(to bottom, #fff 0%, #f6f6f6 100%);
              text-align: center;
              line-height: 42px;
            }
          }
        }
        &__comment {
          margin-top: 20px;
          &__container {
            margin-left: 23px;
            padding-bottom: 30px;
            width: 510px;
            h3 {
              margin-bottom: 3px;
              padding-right: 27px;
              font-size: 16px;
              font-weight: bold;
            }
            p.no_comment {
              padding:60px 0 50px 0;
              text-align: center;
              font-size: 16px;
              font-weight: bold;
            }
          }
          &__postBox {
            border-top: 1px #eee solid;
            padding: 20px 23px 9px 23px;
            display: flex;
            &__left {
              display: flex;
              p.icon {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px #ddd solid;
              }
              &__text {
                width: 383;
                
                
                #product_text {
                  width: 383px;
                  height: 40px;
                  padding-top: 7px;
                  font-size: 15px;
                  background: #f5f5f5;
                  margin: 0 10px;
                  border-radius: 2px;
                }
              }
            }
            &__right {
              &__btn {
                .produceShowCommentBtn {
                  height: 38px;
                  width: 72px;
                  padding: 8px 0;
                  text-align: center;
                  color: #fff;
                  font-size: 13px;
                  font-weight: bold;
                  border: 1px #ddd solid;
                  border-radius: 2px;
                  background: #ccc;
                }
              }
            }
          }
        }
      }
    }
    &__right {
      width: 414px;
      height: 100%;
      &__cordinateInfo {
        width: 100%;
        height: 228px;
        background: #fff;
        border: 1px #ddd solid;
        border-radius: 3px;
        padding: 20px 0 0 23px;
        h1 {
          padding-right: 23px;
          font-size: 16px;
          font-weight: bolder;
        }
        p.model_info {
          margin-top: 10px;
          padding-right: 23px;
          font-size: 11px;
          color: #888;
        }
        p.content_text {
          margin-top: 10px;
          padding: 18px 23px 0 0;
          font-size: 14px;
          border-top: 1px #eee solid;
        }
        .metaData {
          margin-top: 16px;
          padding: 12px 23px 0 0;
          border-top: 1px #eee solid;
          font-size: 11px;
          color: #888;
          &__upDate {

          }
          &__upDate:before {
            content: "ï¼ ";
            padding: 0 5px 0 0;
            font-size: 16px;
            color: #aaa;
            vertical-align: -3px;
          }
        }
      }
      &__cordinateItem {
        width: 414px;
        background: #fff;
        border-radius: 3px;
        border: 1px #ddd solid;
        padding: 20px 0 23px 23px;
        margin-top: 18px;
        h2.tit {
          font-size: 16px;
          font-weight: bold;
        }
        ul {
          li.itemList {
            display: flex;
            justify-content: space-between;
            margin-top: 24px;
            padding-top: 24px;
            border-top: 1px #eee solid;
            .left {
              p.img {
                height: 120px;
                width: 100px;
                background: #ddd;
              }
            }
            .right {
              width: 271px;
              padding-right: 23px;
              p.brand {
                font-size: 15px;
                font-weight: bold;
              }
              p.txt {
                font-size: 12px;
                margin-top: 1px;
                a {
                  color: #2490d0;
                }
              }
              p.count {
                margin-top: 1px;
                font-size: 12px;
                a {
                  color: #2490d0;
                }
              }
            }
          }
          li:first-child {
            border: none;
          }
        }
      }
      &__cordinateTag {
        section.tag {
          padding-top: 23px;
          h3 {
            font-size: 14px;
            font-weight: bold;
          }
          ul {
            margin: 2px 0 0 -6px;
            li {
              font-size: 12px;
              text-align: center;
              float: left;
              margin: 6px 0 0 6px;
              a {
                display: block;
                background: #fff;
                color: #333;
                border: 1px #e2e2e2 solid;
                padding: 6px 12px;
                line-height: 1.2;
                border-radius: 2px;
              }
            }
          }
        }
        section.useBrand {
          padding-top: 23px;
          clear: both;
          h3 {
            font-size: 14px;
            font-weight: bold;
          }
          ul {
            margin: 2px 0 0 -6px;
            li {
              font-size: 12px;
              text-align: center;
              float: left;
              margin: 6px 0 0 6px;
              a {
                display: block;
                background: #fff;
                color: #333;
                border: 1px #e2e2e2 solid;
                padding: 6px 12px;
                line-height: 1.2;
                border-radius: 2px;
              }
            }
          }
        }
        section.favoriteBrand {
          padding-top: 23px;
          clear: both;
          h3 {
            font-size: 14px;
            font-weight: bold;
          }
          ul {
            margin: 2px 0 0 -6px;
            li {
              font-size: 12px;
              text-align: center;
              float: left;
              margin: 6px 0 0 6px;
              a {
                display: block;
                background: #fff;
                color: #333;
                border: 1px #e2e2e2 solid;
                padding: 6px 12px;
                line-height: 1.2;
                border-radius: 2px;
              }
            }
          }
        }
        section.kindItem {
          padding-top: 23px;
          clear: both;
          h3 {
            font-size: 14px;
            font-weight: bold;
          }
          ul {
            margin: 2px 0 0 -6px;
            li {
              font-size: 12px;
              text-align: center;
              float: left;
              margin: 6px 0 0 6px;
              a {
                display: block;
                background: #fff;
                color: #333;
                border: 1px #e2e2e2 solid;
                padding: 6px 12px;
                line-height: 1.2;
                border-radius: 2px;
              }
            }
          }
        }
      }
    }
  }
  &__footer {
    height: 300px;
    background: #eee;
    clear: both;
  }
}